@import '/src/index.css';

.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5%;
  box-shadow: 0 0 0.2rem 0.5rem rgba(0, 0, 0, 10%);
}

.card:active {
  transition: 100ms all ease-in-out;
  width: 98px;
  height: 98px;
  box-shadow: 0 0 0.05rem 0.05rem rgba(0, 0, 0, 10%);
}

.card img {
  border-radius: 5%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.card-front {
  visibility: hidden;
  position: absolute;
}

.card-front.visible {
  visibility: visible;
}

.card-back {
  visibility: hidden;
  position: absolute;
}

.card-back.visible {
  visibility: visible;
}