:root {
  --main-color: #ff00d0;
  --main-color-darker: #dc00b3;
  --secondary-color: #25ee5e;
  --whitish-color: #f0f0f0;
  --dark-color: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color);
}